<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>4UTM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/jquery-3.5.1.min.js"></script>
        <script src="/static/dj.js"></script>
        <link rel="stylesheet" href="/static/bulma.min.css" type="text/css">
        <link rel="stylesheet" href="/static/dj.css" type="text/css">
    </head>
    <body>
        <div class="columns">
            <div class="column is-3"><button value="Carlos di Sarli" class="button is-medium
 is-success is-outlied is-light orquesta">Carlos di Sarli</button></div>
            <div class="column is-3"><button value="Edgardo Donato" class="button is-medium
 is-success is-outlied is-light orquesta">Edgardo Donato</button></div>
            <div class="column is-3"><button value="Eduardo Del Piano" class="button is-medium
 is-success is-outlied is-light orquesta">Eduardo Del Piano</button></div>
            <div class="column is-3"><button value="Hector Varela" class="button is-medium
 is-success is-outlied is-light orquesta">Hector Varela</button></div>
        </div>


        <div class="columns">
            <div class="column is-3"><button value="Pedro Laurenz" class="button is-medium
 is-success is-outlied is-light orquesta">Pedro Laurenz</button></div>
            <div class="column is-3"><button value="Miguel Calo" class="button is-medium
 is-success is-outlied is-light orquesta">Miguel Calo</button></div>
            <div class="column is-3"><button value="Ricardo Malerba" class="button is-medium
 is-success is-outlied is-light orquesta">Ricardo Malerba</button></div>
            <div class="column is-3"><button value="Ricardo Tanturi" class="button is-medium
 is-success is-outlied is-light orquesta">Ricardo Tanturi</button></div>
        </div>


        <div class="columns">
            <div class="column is-3"><button value="Alfredo de Angelis" class="button is-medium
 is-success is-outlied is-light orquesta">Alfredo de Angelis</button></div>
            <div class="column is-3"><button value="Alfredo Gobbi" class="button is-medium
 is-success is-outlied is-light orquesta">Alfredo Gobbi</button></div>
            <div class="column is-3"><button value="Alfredo Malerba" class="button is-medium
 is-success is-outlied is-light orquesta">Alfredo Malerba</button></div>
            <div class="column is-3"><button value="Florindo Sassone" class="button is-medium
 is-success is-outlied is-light orquesta">Florindo Sassone</button></div>
        </div>


        <div class="columns">
            <div class="column is-3"><button value="Angel D'Agostino" class="button is-medium
 is-success is-outlied is-light orquesta">Angel D'Agostino</button></div>
            <div class="column is-3"><button value="Anibal Troilo" class="button is-medium
 is-success is-outlied is-light orquesta">Anibal Troilo</button></div>
            <div class="column is-3"><button value="Enrique Francini" class="button is-medium
 is-success is-outlied is-light orquesta">Enrique Francini</button></div>
            <div class="column is-3"><button value="Enrique Rodriguez" class="button is-medium
 is-success is-outlied is-light orquesta">Enrique Rodriguez</button></div>
        </div>


        <div class="columns">
            <div class="column is-3"><button value="Domingo Federico" class="button is-medium
 is-success is-outlied is-light orquesta">Domingo Federico</button></div>
            <div class="column is-3"><button value="Donato Racciatti" class="button is-medium
 is-success is-outlied is-light orquesta">Donato Racciatti</button></div>
            <div class="column is-3"><button value="Roberto Firpo" class="button is-medium
 is-success is-outlied is-light orquesta">Roberto Firpo</button></div>
            <div class="column is-3"><button value="Rodolfo Biagi" class="button is-medium
 is-success is-outlied is-light orquesta">Rodolfo Biagi</button></div>
        </div>


        <div class="columns">
            <div class="column is-3"><button value="Armando Pontier" class="button is-medium
 is-success is-outlied is-light orquesta">Armando Pontier</button></div>
            <div class="column is-3"><button value="Francisco Canaro" class="button is-medium
 is-success is-outlied is-light orquesta">Francisco Canaro</button></div>
            <div class="column is-3"><button value="Francisco Lomuto" class="button is-medium
 is-success is-outlied is-light orquesta">Francisco Lomuto</button></div>
            <div class="column is-3"><button value="Orquesta Tipica Victor" class="button is-medium
 is-success is-outlied is-light orquesta">Orquesta Tipica Victor</button></div>
        </div>


        <div class="columns">
            <div class="column is-3"><button value="Osmar Maderna" class="button is-medium
 is-success is-outlied is-light orquesta">Osmar Maderna</button></div>
            <div class="column is-3"><button value="Osvaldo Fresedo" class="button is-medium
 is-success is-outlied is-light orquesta">Osvaldo Fresedo</button></div>
            <div class="column is-3"><button value="Osvaldo Pugliese" class="button is-medium
 is-success is-outlied is-light orquesta">Osvaldo Pugliese</button></div>
            <div class="column is-3"><button value="Juan D'Arienzo" class="button is-medium
 is-success is-outlied is-light orquesta">Juan D'Arienzo</button></div>
        </div>


        <div class="columns">
            <div class="column is-3"><button value="Julio de Caro" class="button is-medium
 is-success is-outlied is-light orquesta">Julio de Caro</button></div>
            <div class="column is-3"><button value="Lucio Demare" class="button is-medium
 is-success is-outlied is-light orquesta">Lucio Demare</button></div>
            <div class="column is-3"><button value="Quartet Anibal Troilo" class="button is-medium
 is-success is-outlied is-light orquesta">Quartet Anibal Troilo</button></div>
            <div class="column is-3"><button value="Quinteto Pirincho" class="button is-medium
 is-success is-outlied is-light orquesta">Quinteto Pirincho</button></div>
        </div>

        <div class="columns">
            <div class="column is-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Иной оркестр:</div>
            <div class="column is-9">
                <div class="field">
                    <div class="control">
                        <input id="ORQUESTA" class="input" placeholder="например: Solo Tango Orquesta">
                    </div>
                </div>
            </div>
            <div class="column is-1 foobar"><button ID="CUSTOM_ORQUESTA" class="button is-success is-outlied is-medium
 is-white">отправить</div>
        </div>
        <div class="columns">
            <div class="column is-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Послать сообщение:</div>
            <div class="column is-9">
                <div class="field">
                    <div class="control">
                        <textarea ID="CHAT" class="textarea" placeholder="Ctrl-Enter чтобы отправить"></textarea>
                    </div>
                </div>
            </div>
            <div class="column is-1 foobar"><button id="SEND_MESSAGE" class="button is-success is-outlied is-medium
 is-white">отправить</button></div>
        </div>
        <div class="columns" id="TIMER">
            <div class="column is-8">
                <div class="box"><b id="NEXT_ORQUESTA"></b></div>
            </div>
            <div class="column is-4 foobar">
                <progress id="PROGRESS" max="60" val="0" class="progress is-danger is-medium
"></progress>
            </div>
        </div>
    </body>
</html>
