<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>4UTM</title>
    <script src="/static/jquery-3.5.1.min.js"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <link rel="stylesheet" href="/static/bulma.min.css" type="text/css">
</head>
<body>
    <div id="WRAPPER">
        <div id="BLOCK"></div>
        <video id="VIDEO" muted src="#"></video>
    </div>
    <div id="next_orquesta" class="notification is-success is-light"></div>
    <div id="chat" class="notification is-warning"></div>
</body>
